[submodule "Libraries/glfw"]
	path = Libraries/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "Libraries/stb"]
	path = Libraries/stb
	url = git@github.com:nothings/stb.git
[submodule "Libraries/Validator"]
	path = Libraries/Validator
	url = git@github.com:GandalphSnaxx/Validator.git
[submodule "Libraries/FlagField"]
	path = Libraries/FlagField
	url = git@github.com:GandalphSnaxx/FlagField-Manager.git
